<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>

    <nav id="navBar" class="d-flex flex-wrap flex-row justify-content-between align-items-center" role="navigation">
        <figure class="m-0"><img src="./images/logoEsferaHorizontal.png" alt="Logotipo Esfera Odontologia e Saúde"></figure>
        <ul id="navBarList" class="d-flex">
            <li class="navBarItems"><a href="#">Home</a></li>
            <li class="navBarItems"><a href="#">Especialidades</a></li>
            <li class="navBarItems"><a href="#">Quem Somos</a></li>
            <li class="navBarItems"><a href="#">Agendar Consulta</a></li>
        </ul>        
    </nav>

    <script src="./js/bootstrap.min.js"></script>
</body>
</html>