<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/css/style.css">
    <link rel="icon" type="image/x-icon" href="/view/images/logoEsferaIcon.png">
    <title>Esfera Odontologia e Saúde</title>
</head>


<body>

    <nav id="navBar" class="d-flex flex-wrap flex-row justify-content-between align-items-center" role="navigation">
        <figure class="m-0" id="esferaIcon"><img src="/view/images/logoEsferaHorizontal.png"
                alt="Logotipo Esfera Odontologia e Saúde">
        </figure>
        <ul id="navBarList" class="d-flex align-items-center">
            <li class="navBarItems"><a href="#">Home</a></li>
            <li class="navBarItems"><a href="#">Especialidades</a></li>
            <li class="navBarItems"><a href="#">Quem Somos</a></li>
            <li class="navBarItems"><a href="#">Agendar Consulta</a></li>
        </ul>
    </nav>

    <main>
        <article id="entryBanner">
            <div class="d-flex align-items-start justify-content-center flex-column">
                <p>A Esfera Odontologia e Saúde oferece uma gama de especialidades e profissionais qualificados para
                    atender à sua necessidade.</p>
                <a href="">Agendar Consulta</a>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100">
                <path
                    d="M0 0v41s40 117.6 337 20.7c46.7-15.2 104.8-46 163-46 58.1 0 116.3 30.8 163 46 297 97 337-20.7 337-20.7V0H0Z"
                    fill="#FFFFFF">
                </path>
            </svg>
        </article>
        <article id="specialties" class="d-flex flex-row justify-content-between align-items-center">
            <div class="text-container d-flex flex-column">
                <div class="texts d-flex flex-column">
                    <h1>Cuidar do seu sorriso é nossa vocação.<br>Fazer isso com excelência é nosso compromisso.</h1>
                    <h3>ESPECIALIDADES</h3>
                </div>
                <div class="specialtiesCards d-flex">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="image-container d-flex justify-content-end">
                <img src="/view/images/doctorExample1.png" alt="">
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 656">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0 424.574L60 400.987C120 377.399 240 330.224 360 365.606C480 400.987 600 518.924 720 589.686C840 660.449 960 684.036 1080 613.274C1200 542.512 1320 377.399 1380 294.843L1440 212.287V0H1380C1320 0 1200 0 1080 0C960 0 840 0 720 0C600 0 480 0 360 0C240 0 120 0 60 0H0V424.574Z"
                    fill="#f1f1f1" />
            </svg>
        </article>

        <article id="ourTeam">
            <div class="teamDescription d-flex flex-column">
                <h1>Excelência odontológica começa com uma equipe de confiança.</h1>
                <h3>PROFISSIONAIS</h3>
            </div>

            <div class="teamCards d-flex">
                <div class="teammateCard">
                    <img src="/view/images/doctorExample2.png" alt="Eliane Rodrigues">
                    <div class="teammateInfo">
                        <h1>Eliane Rodrigues</h1>
                        <h3>Dentista</h3>
                        <p>Profissional há mais 15 anos, especializada em procedimentos estéticos.</p>
                    </div>
                </div>

                <div class="teammateCard">
                    <img src="/view/images/doctorExample3.png" alt="Paulo Silva">
                    <div class="teammateInfo">
                        <h1>Paula Silva</h1>
                        <h3>Ortodontista</h3>
                        <p>Especialista em aparelhos e alinhadores invisíveis.</p>
                    </div>
                </div>

                <div class="teammateCard" id="cardLabubu">
                    <img src="/view/images/OLABUBU.png" alt="Labubu">
                    <div class="teammateInfo">
                        <h1>Labubu da Silva</h1>
                        <h3>Labubu</h3>
                        <p>Novo mascote oficial da esfera odonto</p>
                    </div>
                </div>

                <div class="teammateCard">
                    <img src="/view/images/doctorExample3.png" alt="Paulo Silva">
                    <div class="teammateInfo">
                        <h1>Paula Silva</h1>
                        <h3>Ortodontista</h3>
                        <p>Especialista em aparelhos e alinhadores invisíveis.</p>
                    </div>
                </div>
        </article>

        <article id="extra">
        </article>

        <article id="reviews">
            <div class="reviewCard d-flex flex-column">
                <h1>Atendimento rápido e humanizado</h1>
                <h3>Fazem três anos que frequento a clínica e minha família também. São ótimos profissionais.</h3>
                <div class="reviewerInfo d-flex flex-row align-items-start">
                    <img src="/view/images/clientExample1.png" alt="Maria Clara">
                    <div class="reviewerTexts d-flex flex-column">
                        <h1>Maria Clara</h1>
                        <h3>PACIENTE</h3>
                        <div class="googleReview d-flex flex-row align-items-center">
                            <img src="/view/images/googlePlus.png" alt="Google Review">
                            <div class="stars">
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviewCard d-flex flex-column">
                <h1>Atendimento rápido e humanizado</h1>
                <h3>Fazem três anos que frequento a clínica e minha família também. São ótimos profissionais.</h3>
                <div class="reviewerInfo d-flex flex-row align-items-start">
                    <img src="/view/images/clientExample1.png" alt="Maria Clara">
                    <div class="reviewerTexts d-flex flex-column">
                        <h1>Maria Clara</h1>
                        <h3>PACIENTE</h3>
                        <div class="googleReview d-flex flex-row align-items-center">
                            <img src="/view/images/googlePlus.png" alt="Google Review">
                            <div class="stars">
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviewCard d-flex flex-column">
                <h1>Atendimento rápido e humanizado</h1>
                <h3>Fazem três anos que frequento a clínica e minha família também. São ótimos profissionais.</h3>
                <div class="reviewerInfo d-flex flex-row align-items-start">
                    <img src="/view/images/clientExample1.png" alt="Maria Clara">
                    <div class="reviewerTexts d-flex flex-column">
                        <h1>Maria Clara</h1>
                        <h3>PACIENTE</h3>
                        <div class="googleReview d-flex flex-row align-items-center">
                            <img src="/view/images/googlePlus.png" alt="Google Review">
                            <div class="stars">
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviewCard d-flex flex-column">
                <h1>Atendimento rápido e humanizado</h1>
                <h3>Fazem três anos que frequento a clínica e minha família também. São ótimos profissionais.</h3>
                <div class="reviewerInfo d-flex flex-row align-items-start">
                    <img src="/view/images/clientExample1.png" alt="Maria Clara">
                    <div class="reviewerTexts d-flex flex-column">
                        <h1>Maria Clara</h1>
                        <h3>PACIENTE</h3>
                        <div class="googleReview d-flex flex-row align-items-center">
                            <img src="/view/images/googlePlus.png" alt="Google Review">
                            <div class="stars">
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>★</span>
                                <span>☆</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <span></span>
        
    </footer>

    <script src="/view/js/bootstrap.min.js"></script>
    <script src="/view/js/script.js"></script>
</body>


</html>