<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/css/style.css">
    <link rel="icon" type="image/x-icon" href="/view/images/logoEsferaIcon.png">
    <title>Login</title>
</head>

<body>
    <main id="login">
        <section id="sectionLeft">

            <img class="login-logo" src="/view/images/logoLogin.png" alt="Esfera Odontologia e Saúde" title="Logo">

        </section>
        <section id="sectionRight">
            <div class="title">
                <h2>Login</h2>
                <p>Faça login pra entrar na plataforma</p>
            </div>
            <form action="">
                <div class="form-group">
                    <input type="email" class="input input-email" aria-describedby="emailHelp"
                        placeholder="E-mail">
                        <div class="error-message"></div>
                </div>
                <div class="form-group">
                    <input type="password" class="input input-password" placeholder="Senha">
                    <div class="error-message"></div>
                </div>
                <button type="submit" class="btn btn-login">Entrar</button>
            </form>

        </section>
    </main>
    <script src="/view/js/bootstrap.min.js"></script>
    <script src="/view/js/script.js"></script>
    <script src="/view/js/login.js"></script>
</body>


</html>